@import "tailwindcss";

body {
  background: linear-gradient(#D2D7DC, #CED4D8);

}
.product-ui::-webkit-scrollbar {
  display: none;
}
.xxx {
  transition: 3s;
}


.cart-panel::-webkit-scrollbar {
  display: none;
}


